<div class="container mt-2" *ngIf="isShowedData">
    <div class="d-flex justify-content-between">
        <h3 class="text-center">ALl exams list</h3>
        <button class="btn btn-danger" routerLink="/profile"><i class="fas fa-backward me-1"></i>Back to home</button>
    </div>
    <table class="table table-bordered table-hover table-responsive mt-3">
        <thead>
            <tr>
                <th scope="col">Result</th>
                <th scope="col">Id</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Email</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exam of studentExamList">
                <td>
                    {{exam.Result}}
                </td>
                <td>{{exam._id}}</td>
                <td>{{exam.subjectName}}</td>
                <td>{{exam.email}}</td>
                <td>{{exam.notes}}</td>
                <td><a [routerLink]="['/student/examPaper/'+ exam._id]">Click me</a></td>
            </tr>
        </tbody>
    </table>
</div>