<div class="container">
    <!-- <div class="col-sm-2"></div> -->
    <div class="d-flex justify-content-center mt-5">
        <form [formGroup]="myForm" (ngSubmit)="createExam()" class="c-form">
            <h2>Create exam</h2>
                <input type="text" formControlName="subjectName" class="form-control w-50"
                    placeholder="Enter Subject Name" >
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-primary form-control me-5" type="submit" [disabled]="!fifteenQuestionsDone">Create exam</button>
                    <button class="btn btn-danger form-control" [ngClass]="{'me-5':isShowButton,'ms-5':!isShowButton}" routerLink="/teacher" type="button">Back to home</button>
                    <button class="btn btn-success form-control ms-1" type="button" *ngIf="isShowButton" routerLink="/viewExam">View all exams</button>
                </div>
            <div formArrayName="questions" *ngFor="let question of myForm.get('questions')['controls']; let i=index;"
                class="mt-5 card p-2">
                <div [formGroupName]="i">
                    <label>Question : {{i+1}}</label>
                    <input type="text" formControlName="question" class="form-control" placeholder="Enter question">
                    <input type="text" formControlName="answer" class="form-control mt-2" placeholder="Enter answer">
                    <label class="mt-3">Options</label>
                    <div class="d-flex justify-content-around flex-wrap mb-3">
                        <input type="text" class="form-control w-50 mt-2" placeholder="A">
                        <input type="text" class="form-control w-50 mt-2" placeholder="B">
                        <input type="text" class="form-control w-50 mt-2" placeholder="C">
                        <input type="text" class="form-control w-50 mt-2" placeholder="D">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" type="button" (click)="removeQuestion(i)">Remove question</button>
                    <button class="btn btn-primary" (click)="addQuestion()" type="button">Add Question</button>
                </div>

            </div>
            <!-- <div class="form-group mt-3 d-flex justify-content-between">
                <input type="text" placeholder="notes" formControlName="notes" [(ngModel)]="notesAnswers" class="form-control w-75 me-1">
                <button type="button" class="btn form-control w-25 btn-primary ms-3" (click)="addNote()">Add note</button>
            </div> -->

        </form>
    </div>
    <!-- <div class="col-sm-2"></div> -->
</div>