<!-- <div class="d-flex align-items-center justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div> -->
<ng-container *ngIf="isPageLoaded">
    <form [formGroup]="myForm">

    <div class="d-flex justify-content-between m-5">
        <input type="text" formControlName="subjectName" value="{{showExamName}}" class="form-control w-50">
        <div class="d-flex justify-content-between">
            <!-- <button class="btn btn-warning me-3" [routerLink]="['/teacher/viewExam'+{{passId}}"><i class="fas fa-edit"></i> Edit
                exam</button> -->
            <button class="btn btn-success me-2" (click)="editExam()"><i class="fas fa-backward me-2"></i>Update
                details</button>
            <button class="btn btn-danger" routerLink="/teacher/viewExam"><i class="fas fa-backward me-2"></i>Back to
                exam list</button>
        </div>
    </div>

        <ng-container formArrayName="questions" *ngFor="let question of allQuestionBunch ;let i=index" >
            <div class="card m-5 mt-2">
                <div class="card-header">
                    Question : {{i+1}}
                </div>

                <div class="card-body" [formGroupName]="i">
                    <div class="form-group">
                        <h5 class="card-title">Question : <input type="text" class="form-control mt-1"
                                value="{{question.question}}" formControlName="question">
                        </h5>
                    </div>
                    <div class="form-group">
                        <p class="card-text">Answer : <input type="text" class="form-control w-25 mt-1"
                                value="{{question.answer}}" formControlName="answer"></p>
                    </div>
                    <div class="form-group">

                        <div class="d-flex justify-content-between flex-wrap">

                            <!-- <p class="w-50">(b){{question.options[1]}}</p> -->
                            <div class="d-flex justify-content-between w-50 mt-3">
                                <p class="me-2 ms-2 mt-2">(a)</p>
                                <input type="text" class="form-control  ms-1 w-100" value="{{question.options[0]}}" formControlName="option1">
                            </div>
                            <div class="d-flex justify-content-between w-50 mt-3">
                                <p class="me-2 ms-2 mt-2">(b)</p>
                                <input type="text" class="form-control  ms-1 w-100" value="{{question.options[1]}}" formControlName="option2">
                            </div>
                            <div class="d-flex justify-content-between w-50 mt-3">
                                <p class="me-2 ms-2 mt-2">(c)</p>
                                <input type="text" class="form-control  ms-1 w-100" value="{{question.options[2]}}" formControlName="option3">
                            </div>
                            <div class="d-flex justify-content-between w-50 mt-3">
                                <p class="me-2 ms-2 mt-2">(d)</p>
                                <input type="text" class="form-control  ms-1 w-100" value="{{question.options[3]}}" formControlName="option4">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
    </form>

</ng-container>







<!-- <ng-container *ngFor="let question of allQuestionBunch">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <form class="form mt-3" [formGroup]="myForm" (ngSubmit)="editExam()">
                <h3>Edit exam</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="text" formControlName="name" class="form-control" id="exampleInputName"
                        aria-describedby="nameHelp" placeholder="Enter Name">
                   
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword"></label>
                    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Enter Password">
                 
                </div>
                <div class="form-group">
                    <label for="exampleInputRole"></label>
                    <select name="role" id="role" formControlName="role" class="form-control w-25">
                        <option value="" m selected disabled>Select Role</option>
          

                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="!myForm.valid">Submit</button>
            
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</ng-container> -->