<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card mt-5">
        <div class="card-body p-5">
            <div >
                <h2 class="text-center">Reset Password</h2>
                <form class="" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <input type="password" class="form-control m-2 m-auto mb-2" placeholder="Enter old password" formControlName="oldPassword">
                    <div *ngIf="fControl['oldPassword'].touched && fControl['oldPassword'].errors?.['required']" class="text-danger">Old password is required</div>
                    <!-- <div *ngIf="fControl['Password'].errors?.['minlength']" class="text-danger">Minimum 6 digits required</div> -->
                    <!-- <div *ngIf="fControl['Password'].errors?.['maxlength']" class="text-danger">Maximum 30 digits allowed</div> -->

                    <input type="password" class="form-control mt-4 m-auto mb-2" placeholder="Enter new password" formControlName="Password">
                    <div *ngIf="fControl['Password'].touched && fControl['Password'].errors?.['required']" class="text-danger">Confirm password is required</div>
                    <div *ngIf="fControl['Password'].errors?.['minlength']" class="text-danger">Minimum 6 digits required</div>
                    <div *ngIf="fControl['Password'].errors?.['maxlength']" class="text-danger">Maximum 30 digits allowed</div>

                    <input type="text" class="form-control mt-4 m-auto mb-2" placeholder="Confirm new password" formControlName="ConfirmPassword">
                    <div *ngIf="fControl['ConfirmPassword'].touched && fControl['ConfirmPassword'].errors?.['required']" class="text-danger">Confirm password is required</div>
                    <div *ngIf="fControl['ConfirmPassword'].errors?.['minlength']" class="text-danger">Minimum 6 digits required</div>
                    <div *ngIf="fControl['ConfirmPassword'].errors?.['maxlength']" class="text-danger">Maximum 30 digits allowed</div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary m-4" [disabled]="!myForm.valid">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
