<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title">Welcome , {{teacherName}}</h5>
                <p class="card-text text-muted">{{teacherEmail}}</p>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary m-2" routerLink="studentDataList">All students data</a>
                    <a href="#" class="btn btn-primary m-2" routerLink="createExam">Create exam</a>
                    <a href="#" class="btn btn-primary m-2" routerLink="viewExam">View exams</a>
                    <a href="#" class="btn btn-primary m-2" routerLink="verifyStudentData">Verified students</a>
                    <a href="#" class="btn btn-warning m-2" routerLink="/changePassword">Change Password</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>