<!-- <app-header></app-header> -->
<div class="container mt-2">
    <table class="table table-bordered table-hover table-responsive" *ngIf="isShowedData">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of allData">
                <td [ngClass]="{'table-success': data.status==='Active','table-warning':data.status==='Pending'}">
                    {{data.status}}
                </td>
                <td>{{data._id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td><a class="fas fa-eye text-decoration-none" (click)="viewDetails(data._id)"
                        data-bs-toggle="modal" data-bs-target="#myModal"></a></td>
            </tr>
        </tbody>
    </table>
    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>