<div class="container mt-2">
<table class="table table-bordered table-hover" *ngIf="isShowedData">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allData">
            <td [ngClass]="{'table-success': data.status==='Active','table-warning':data.status==='Pending'}">{{data.status}}
            </td>
            <td>{{data._id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td><a href="" class="fas fa-eye"></a><i class="">h</i></td>
        </tr>
    </tbody>
</table>
</div>