<ng-container *ngFor="let question of allQuestionBunch">
    <div class="card m-5">
        <div class="card-header">
            {{question.question}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Question : {{question.question}}</h5>
            <p class="card-text">Answer : {{question.answer}}</p>
            <!-- <a href="#" class="btn btn-primary">{{question.options}}</a>
             -->
            <!-- <div class="d-flex justify-content-between" >
                <p>Options : {{question.options}}</p>
            </div> -->
            <div class="d-flex justify-content-between" *ngFor="let option of question.options">
                <p> option : {{option}}</p>
            </div>
        </div>
    </div>
</ng-container>