
<ng-container *ngFor="let question of allQuestionBunch">
    <div class="card">
        <div class="card-header">
            {{question.question}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{question.question}}</h5>
            <p class="card-text">{{question.answer}}</p>
            <!-- <a href="#" class="btn btn-primary">{{question.options}}</a>
             -->
            <div class="d-flex justify-content-between">
                <p>{{question.options}}</p>
            </div>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</ng-container>