
<div class="container mt-5" *ngIf="isDataShowed">
    <div class="d-flex justify-content-between">
        <h3>Showing {{count}} verified students !</h3>
        <button type="button" class="btn btn-danger" routerLink="/teacher"><i class="fas fa-backward me-2"></i>Back to home</button>
    </div>
    <table class="table table-bordered table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of verifiedStudents">
                <td class="c-bg-green">{{student.status}}</td>
                <td>{{student._id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
            </tr>
        </tbody>
    </table>
</div>