<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4  text-big">
    <div class="image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary">
        <img src="https://avatars.githubusercontent.com/u/26719151?v=4" height="100" width="100" /></button>
      <span class="name mt-3 fw-bold">Name : {{profileData.name}}</span>
      <span class="text-sm text-muted mt-1">Id : {{profileData._id}}</span>
      <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1 mt-1">Email
          :{{profileData.email}}</span>
      </div>
      <!-- <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span
                    class="number mt-2">Role : {{role}}</span>
            </div> -->
      <table class="table table-hover table-bordered fs-6" *ngIf="isResultShowed">
        <thead>
          <tr class="text-center">
            <th scope="col">Sr No.</th>
            <th scope="col">Subject</th>
            <th scope="col">Rank</th>
            <th scope="col">Score</th>
            <th scope="col">Result Status</th>
            <th scope="col">Exam id</th>
            <th scope="col">View details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of studentResult;let i=index;"
            [ngClass]="{'table-success':res.score>5,'table-danger':res.score<6}">
            <td>{{i+1}}</td>
            <td>{{res.subjectName}}</td>
            <td>{{res.rank}}</td>
            <td>{{res.score}}</td>
            <td>{{res.resultStatus}}</td>
            <td>{{res._id}}</td>
            <!-- <td>{{res.studentAnswer}}</td> -->
            <td class="text-center" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(i,res._id)"><i
                class="far fa-eye"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class=" d-flex justify-content-between">
        <button class="btn btn-danger m-3" routerLink="/teacher/studentDataList">Close Profile</button>
        <button class="btn btn-primary m-3" (click)="showData()" *ngIf="isViewButton">View Results</button>
        <button class="btn btn-warning m-3" (click)="hideData()" *ngIf="isColseButton">Close Results</button>
      </div>
      <ng-container *ngIf="heading3" class="mb-0">
        <h4 class="text-danger">No exam given by {{profileData.name}} </h4>
      </ng-container>

      <div class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-18">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-2"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="text-danger text-center" *ngIf="isModalMessage">No question answer added</p>
              <p class="text-danger" *ngIf="!isModalMessage">Your questions and selected answers</p>
              <ng-container *ngFor="let result of resultAnswer; let i=index">
                <ul class="list-group mt-4">
                  <li class="list-group-item bg-light">Question {{i+1}}: {{result.question}}</li>
                  <li class="list-group-item bg-light">Answer : {{result.answer}}</li>
                </ul>
              </ng-container>
            </div>
            <div class="modal-footer d-flex justify-content-end">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                              [routerLink]="['/editExam/'+id]">Edit Exam Details</button>
                          <button class="btn btn-danger close" data-bs-dismiss="modal" aria-hidden="true"
                          >Delete Exam</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" >
  Launch demo modal
</button> -->

<!-- Modal -->