<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title">Welcome , {{studentName}}</h5>
                <p class="card-text text-muted">{{studentEmail}}</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary me-2" routerLink="profile">Profile</a>
                    <a href="#" class="btn btn-primary ms-2" routerLink="viewExamList">Exam List</a>
                    <a href="#" class="btn btn-warning ms-2" routerLink="/changePassword">Change Password</a>
                    <!-- <a href="#" class="btn btn-primary" routerLink="viewExam">View exams</a>
                    <a href="#" class="btn btn-primary" routerLink="verifyStudentData">Verified students</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>