<!-- <div class="d-flex justify-content-between">
    <p>Your Profile</p>
    <button class="btn btn-danger" routerLink="/student"><i class="fas fa-backward me-1"></i>Back to home</button>
</div> -->
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4 text-big">
        <div class="image d-flex flex-column justify-content-center align-items-center"> <button
                class="btn btn-secondary"> <img src="https://avatars.githubusercontent.com/u/26719151?v=4" height="100"
                    width="100" /></button> <span class="name mt-3 fw-bold">{{profile.name}}</span> <span
                class="text-sm text-muted mt-1">{{profile._id}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span
                    class="idd1 mt-1">{{profile.email}}</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span
                    class="number mt-2">{{profile.role}}</span> </div>
            <div class=" d-flex mt-2 justify-content-between">
                <button class="btn1 btn-dark mt-4 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit
                    Profile</button>
                <button class="btn btn-danger mt-4 ms-2" routerLink="/student"><i class="fas fa-backward me-1"></i>Back
                    to home</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-2">{{profile.name}}'s Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <form [formGroup]="myForm">

                        <li class="row m-1 list-group-item d-flex justify-content-between">
                            <div class="col-sm-2 m-0 p-0">
                                <label for="studentName" class="mt-2">Name :</label>
                            </div>
                            <div class="col-sm-10 m-0 p-0">
                                <input type="text" class="form-control" formControlName="name" value="{{profile.name}}" placeholder="Enter new name">
                            </div>
                        </li>
                        <li class="row m-1 list-group-item d-flex justify-content-between">
                            <div class="col-sm-2 m-0 p-0">
                                <label for="role">Role :</label>
                            </div>
                            <div class="col-sm-10 m-0 p-0">
                                {{profile.role}}
                            </div>
                        </li>
                        <li class="row m-1 list-group-item d-flex justify-content-between">
                            <div class="col-sm-2 m-0 p-0">
                                <label for="email">Email :</label>
                            </div>
                            <div class="col-sm-10 m-0 p-0">
                                {{profile.email}}
                            </div>
                        </li>
                        <li class="row m-1 list-group-item d-flex justify-content-between">
                            <div class="col-sm-2 m-0 p-0">
                                <label for="id">Id :</label>
                            </div>
                            <div class="col-sm-10 m-0 p-0">
                                {{profile._id}}
                            </div>
                        </li>

                        <!-- <li class="list-group-item">Role   :{{profileRole}}</li>
                    <li class="list-group-item">Email :{{profileEmail}}</li>
                    <li class="list-group-item">Id :{{profileId}}</li> -->
                    </form>

                </ul>
            </div>
            <div class="modal-footer">
                <p class="text-sm text-danger mt-3">As per now you can only update name</p>
                <button (click)="updateProfile()" class="btn btn-warning m-3 mb-0 align-items-end"
                    data-bs-dismiss="modal">Update Profile</button>
            </div>
        </div>
    </div>
</div>